body{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto ;
}

h1{
    align-items: center;
    text-align: center;
}

.dealerTable{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: green;
}

.players {    
    height: 50vh;
    background-color: green;
    display: flex;
    justify-content: space-around;    
    text-align: center;
    align-content: center;    
}

#playerOne,
#playerTwo,
#playerTree{
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    text-align: center;
    align-content: center;
}

.wrapperCoins{
    max-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.buttonPlayer{
    max-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    visibility: hidden;
}

.cards + .cards{
    margin-left: -20px;
}

.oneC,
.fiveC,
.tenC{
    border-radius: 100px;    
}

#buttonPlayerOne{
    display: flex;
    align-items: flex-end;
}

h2{
    font-size: 19px;
}

span{
    padding: 0px 50px 0px 50px;
    border: 1px solid black;
}

#popupWrapper{
    display: none;
    background: rgba(0, 0, 0, -1);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.popup{
    font-family: Arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    border: 5px solid black;
}

.popup-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}


.cardsPlayer1{
    position: relative;    
}

.split{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100px;    
    background-color: #ffffff70;
}

.split1, 
.split2,
.buttonsSplit{
    display: flex;
    justify-content: flex-start;
    flex-direction: end;
    margin-left: 2%;
    width: 25%;
    height: 150%;
}

.wrapperSplitButtons{
    align-self: center ;
    width: 100%;    
}

.cardsSplit + .cardsSplit{
    margin-left: -20px;
}

.cardsSplit{
    visibility: hidden;
}

.split1{
    margin-bottom: 8px;
}
@media (max-width: 1003px) {
    
    .players{
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
        text-align: center;
        align-content: center;
    }
    .dealerTable{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        background-color: green;
    }
   
}
/* Isso tem que acontecer quando fizer o split  */
/* .coins,
.buttonPlayer1{
    pointer-events: none;
    opacity: 0.1;
} */
