body{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto ;

}
h1{
    align-items: center;
    text-align: center;
}
.dealerTable{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: green;
}

.players {    
    height: 50vh;
    background-color: green;
    display: flex;
    justify-content: space-around;    
    text-align: center;
    align-content: center;
    /* display: grid;
    grid-template-columns: auto auto auto; */
}

#playerOne,
#playerTwo,
#playerTree{
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    text-align: center;
    align-content: center;
    /* border: 1px solid black;  */
}

.coins{
    max-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.buttonPlayer{
    max-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    visibility: hidden;
    margin-left: -20px;
}

.oneC,
.fiveC,
.tenC{
    border-radius: 100px;    
}

#buttonPlayerOne{
display: flex;
align-items: flex-end;
}

h2{
    font-size: 19px;
}

span{
    padding: 0px 50px 0px 50px;
    border: 1px solid black;
}

#popupWrapper{
    display: none;
    background: rgba(0, 0, 0, -1);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.popup{
    font-family: Arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    border: 5px solid black;
}

.popup-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
@media(max-width: 500px) {
    body{
        max-width: 900px;
    }
}
